[2015-08-03 22:13] nblumhardt opened #1 "App.config/settings compatibility"
https://github.com/sonicjolt/serilog-sinks-rabbitmq/blob/master/src/Serilog.Sink.RabbitMq/LoggerConfigurationRabbitMqExtension.cs#L21

Serilog's app settings support needs an overload of this method that accepts each parameter individually.

[2015-08-03 22:17] nblumhardt opened #2 "Structured message properties/JSON formatting"
https://github.com/sonicjolt/serilog-sinks-rabbitmq/blob/master/src/Serilog.Sink.RabbitMq/Sinks/RabbitMq/RabbitMqMessage.cs#L22

Even if JSON formatting is used, this will end up being JSON-string-within-JSON, so not super consumable - in general most sinks choose to either support JSON only or text only. It's not incorrect to pass an `ITextFormatter` through from the configuration method, but whe

[2015-08-03 22:20] nblumhardt opened #3 "Encoding of string -> byte"
https://github.com/sonicjolt/serilog-sinks-rabbitmq/blob/master/src/Serilog.Sink.RabbitMq/Sinks/RabbitMq/RabbitMqClient.cs#L104

Is `System.Text.Encoding.UTF8.GetBytes()` an option here?

[2015-08-03 22:23] nblumhardt opened #4 "Casing of acronym "MQ""
Nitpick, but the FDGs suggest this should be `MQ`, not `Mq`:

https://msdn.microsoft.com/en-us/library/vstudio/ms229043(v=vs.100).aspx

[2015-08-03 23:31] sonicjolt commented on #2
This is actually a dead class, and will be removed.

[2015-08-03 23:33] sonicjolt commented on #2
Gone.

[2015-08-03 23:33] #2 closed

[2015-08-03 23:39] sonicjolt commented on #4
Done.

[2015-08-03 23:39] #4 closed

[2015-08-03 23:41] sonicjolt commented on #3
Didn't know that one, saves us a bit of code.

Done.

[2015-08-03 23:41] #3 closed

[2015-08-03 23:44] sonicjolt commented on #1
I'm not sure how to fix this. It sounds like something that needs to be done in the Serilog repo ?

What can I do to solve it ?

[2015-08-04 01:40] nblumhardt commented on #1
No, fixing it just entails adding an extra method in `LoggerConfigurationRabbitMQExtension` that accepts individual parameters instead of the one big configuration object. If you have a look at e.g. the MongoDB sink you'll see this pattern in action.

[2015-08-04 01:43] nblumhardt opened #5 "Project root namespace"
https://github.com/sonicjolt/serilog-sinks-rabbitmq/blob/master/src/Serilog.Sink.RabbitMq/Serilog.Sinks.RabbitMq.csproj#L10

If you set the root namespace to `Serilog` then the namespacing and folder structure will line up (avoiding things like `Serilog.Sinks.RabbitMQ.Sinks.RabbitMQ` appearing in a few files).

[2015-08-04 08:14] sonicjolt commented on #5
Fixed. Renamed to 'Serilog'

[2015-08-04 08:14] #5 closed

[2015-08-05 17:24] sonicjolt commented on #1
Added overload of Extension method.

Believe this fixes the issue

[2015-08-05 17:24] #1 closed

[2015-08-06 15:00] sonicjolt opened #6 "Remove packages.config from root folder"

[2015-08-06 15:00] sonicjolt opened #7 "Add dependency to RabbitMq.Client i nuspec file"

[2015-08-06 15:01] sonicjolt opened #8 "Update assemblyinfo to be something similar to the rest of serilog.sinks"
https://github.com/serilog/serilog-sinks-email/blob/master/src/Serilog.Sinks.Email/Properties/AssemblyInfo.cs

[2015-08-06 15:01] sonicjolt opened #9 "Add copyright information to project"

[2015-08-06 15:01] sonicjolt commented on #9
https://github.com/serilog/serilog-sinks-email/blob/master/src/Serilog.Sinks.Email/Sinks/Email/EmailSink.cs

[2015-08-06 15:02] sonicjolt opened #10 "fix comments"

[2015-08-06 15:02] sonicjolt opened #11 "Look into rabbitmq heartbeat"

[2015-08-06 15:25] sonicjolt opened #12 "Discover additional usage scenarios with RabbitMQ"

[2015-08-06 15:37] sonicjolt commented on #10
done

[2015-08-06 15:37] #10 closed

[2015-08-06 15:39] #6 closed

[2015-08-06 15:42] #9 closed

[2015-08-06 15:43] #8 closed

[2015-08-06 18:44] sonicjolt opened #13 "Add durability to messages"

[2015-08-06 18:46] sonicjolt opened #14 "Remove the hard-coded dependency to Exchange, and ExchangeType"
It should be possible for a use for the sink to publish straight to a queue, and otherwise configure exchange, and exchange type.

[2015-08-06 18:50] #13 closed

[2015-08-06 18:50] #14 closed

[2015-08-06 19:08] sonicjolt commented on #7
Done in earlier commit

[2015-08-06 19:08] #7 closed

[2015-08-06 19:09] #11 closed

[2015-08-06 19:25] sonicjolt commented on #12
Continuously working on this one to discover more about RabbitMQ/AMQP

[2015-08-19 23:16] sonicjolt opened #15 "Add support for Headers"

[2015-10-29 16:08] sonicjolt opened #17 "Support other encodings"
At the moment RabbitMQ only supports UTF-8 encoding. This can quite easily be extended to support other encodings.

[2015-12-23 12:31] vidarkongsli opened #18 "Unavailable broker crashes the application"
The plugin generally works great. However, if the broker is unavailable during logging initialization or during operation, it seems to break the application. (Exception from the RabbitMQ client is not handled inside the sink). Is there any advise on how to handle this?

[2015-12-27 04:58] sonicjolt commented on #18
Thanks for that. I'll look into it after the holidays!

[2016-01-04 16:05] sonicjolt opened #19 "Support for encoding"
Currently the sink only supports UTF-8. It might be a good idea to support other encodings.

[2016-01-04 16:08] sonicjolt opened #20 "Configuration for error handling if rabbitmq instance is not available."
It must be possible to specify how the RabbitMQ sink should react to a missing rabbitmq instance.

[2016-01-04 16:09] sonicjolt commented on #18
re-created in more general issue #20

Closing this one.

[2016-01-04 16:09] #18 closed

[2016-01-22 21:19] vidarkongsli commented on #20
Have you had any time to look into this.
I believe this could be easily achieved by inheriting from `PeriodicBatchingSink` as described here: https://github.com/serilog/serilog/wiki/Reliability

Even though the RabbitMQ does not provide any batch writing, it would benefit from the reliability featured built in to Serilog.
For example:
[code]
Would you perhaps considering accepting a PR?

[2016-01-28 06:58] sonicjolt commented on #20
Sorry I have not been able to deal with this since I'm abroad right now. Please, if you have a solution ready for this, I'm very open to PR as your know as of today :-) And thanks alot.

[2016-01-30 06:47] sonicjolt commented on #20
@vidarkongsli Thanks for the link about reliability. I completely agree that inheriting from PeriodicBatchSink is the way to go. If you have a PR, i'll be happy to merge it. Otherwise, I'll do it.

Thanks again

[2016-02-08 15:39] sonicjolt commented on #20
I'm working on this

[2016-02-08 19:41] vidarkongsli commented on #20
:+1:

[2016-04-15 13:26] #20 closed

[2016-04-15 13:27] #12 closed

[2016-04-18 10:28] vidarkongsli opened #22 "Necessary values for periodic batching sink not provider"
`BatchPostingLimit` and `Period` are not propagated thru `LoggerConfigurationRabbitMQExtension`, causing the sink not to log anything!

I have a fix ready and will issue a PR.

[2016-04-19 14:38] #22 closed

[2016-10-18 15:05] greghoover opened #28 "NuGet compatibility with newer newer Serilog versions"
Currently depends on Serilog (>= 1.5.14 && < 2.0.0).
NuGet package won't install with the Serilog 2.2.1.

[2016-10-18 18:42] jaredcnance opened #29 "Unnecessary Queue Name"
As far as I can tell [the queue name validation](https://github.com/sonicjolt/serilog-sinks-rabbitmq/blob/master/src/Serilog.Sinks.RabbitMQ/LoggerConfigurationRabbitMQExtension.cs#L88) is entirely unnecessary since we're publishing logs. I don't see where the queue name is used in the RabbitMQClient

This results in an unnecessary error for an unnecessary configuration value.

[2016-10-18 19:02] sonicjolt commented on #29
This is correct. I search the repo, and didn't see anywhere it is used. It can be removed.

[2016-10-18 20:28] #29 closed

[2016-10-18 20:35] jaredcnance commented on #28
Can you try it now? I'm using SeriLog 2.3.0

Make sure to reference v2.0.0 (https://www.nuget.org/packages/Serilog.Sinks.RabbitMQ/2.0.0)

[2016-10-20 16:34] sonicjolt opened #31 "Update readme.md"
Readme.md should contain usage documentation

[2016-10-20 16:35] sonicjolt opened #32 "CommonAssemblyInfo needs an update"

[2016-10-27 13:22] dsoronda opened #33 "Missing documentation."
There is no code examples or at least basic wiki page.

[2016-10-27 21:21] syrotkin opened #34 "Dispose of RabbitMQSink and RabbitMQClient"
If I understand correctly, `RabbitMQSink` and `RabbitMQClient` should implement `IDisposable` and be closed correctly when the user calls `Log.CloseAndFlush()` from the client application. I have a simple console application, which keeps hanging and cannot exit even after the call to `Log.CloseAndFlush`. On my machine, I tried implementing Dispose in said classes, and this seems to fix the hanging

[2016-10-28 05:55] sonicjolt commented on #34
That sounds correct - if you have a working example that reproduces this, please share :-)

[2016-10-29 19:00] #31 closed

[2016-10-29 19:00] sonicjolt commented on #28
I believe we can close this.

[2016-10-29 19:00] #28 closed

[2016-12-02 10:05] espenekvang opened #35 "Queue not longer part of RabbitMQConfiguration?"
After upgrading to version 2.0 we notice that there is not longer a property called `Queue` on `RabbitMQConfiguration`. What is the correct property to use instead?

[2016-12-02 10:46] jaredcnance commented on #35
@espenekvang this property was not being used by the library so we removed it. If you're trying to publish to a specific route, consider using the `RouteKey` parameter for direct or topic exchanges.

see Issue/#29 and PR/#30 for history behind this change.

[2016-12-02 10:46] #35 closed

[2016-12-02 10:55] espenekvang commented on #35
Thanks!

[2016-12-02 11:11] jaredcnance commented on #33
@dsoronda does #36 help at all?

[2016-12-02 21:31] #33 closed

[2017-01-08 10:56] sonicjolt commented on #17
Duplicate

[2017-01-08 10:56] #17 closed

[2017-01-11 20:32] mribichich opened #37 "Username should not be required"
Hi there, in our case we dont use username and password, but the library make us use one.
It shouldn't be necessary to specify one.

I could contribute if you wish

thanks!

[2017-01-12 06:48] sonicjolt commented on #37
@mribichich I believe you can just enter empty strings in those two situations. Am I wrong ? If so, you're welcome to send a pull request

[2017-01-12 13:59] mribichich commented on #37
Yes I enter empty strings, but it thrown me an exception saying that the
username was required

On Thu, Jan 12, 2017 at 3:49 AM Steffen Sun Lyng <notifications@github.com>
wrote:

[2017-01-12 14:02] jaredcnance commented on #37
this is the offending line: https://github.com/sonicjolt/serilog-sinks-rabbitmq/blob/master/src/Serilog.Sinks.RabbitMQ/LoggerConfigurationRabbitMQExtension.cs#L84

@mribichich please open a PR to address. Just to clarify, you do not authenticate with RabbitMQ? Or you authenticate with empty username/password combination?

[2017-01-12 14:18] sonicjolt commented on #37
Isn't the solution so simple as to do a null-check on username, similar to 'password'. And then it's fixed ?

[2017-01-13 23:09] mribichich commented on #37
Since is a close system, we don't authenticate. We dont need to worry about credentials in this case.

thanks, I'll do it later!

[2017-01-14 07:30] sonicjolt commented on #37
Added PR for this: https://github.com/sonicjolt/serilog-sinks-rabbitmq/pull/38

[2017-01-14 07:40] sonicjolt commented on #37
@mribichich I'm not certain that this will fix your issue though. But since I haven't tried it myself, I'm not certain. But [I found this post](http://stackoverflow.com/questions/36715087/rabbitmq-authentication-without-password), that talks about the same situation. And if you need to setup SSL/TLS, then I would argue it would be easier to just create a username/password.

[2017-01-14 18:52] mribichich commented on #37
Thats weird. I already use the rabbitmq library for c# and I use it without
a username/password.

I dont think it should be a problem.

thanks!

On Sat, Jan 14, 2017 at 4:40 AM Steffen Sun Lyng <notifications@github.com>
wrote:

[2017-01-14 18:58] sonicjolt commented on #37
@mribichich That's cool. Do you have some code-samples that show how. Maybe we can improve this library using your code. Can you show us how you do it, then we can improve this library

[2017-01-14 19:03] jaredcnance commented on #37
That kind of makes me question the implementation. Did you just not set the username/password? Did you ever change the username/password in the control panel? If you just haven't set them, then you most definitely are authenticating. You would just be using the default username/passwords:

http://www.rabbitmq.com/dotnet-api-guide.html

These are also the default credentials used by the RabbitMQ se

[2017-01-14 19:13] mribichich commented on #37
wow, I haven't seen that one. Thats new to me. So if that is how it works, then you are right, Its using the defaults one over the cover. I never seen a library using default credentials if you dont set them up.

I'll check with my app, changing the default username and password, and let you know what happends.

It thats the case, maybe this library can do the same thing

[2017-04-14 07:15] #34 closed

[2017-04-18 16:06] sonicjolt commented on #37
Closing. Username is required.

[2017-04-18 16:06] #37 closed

[2017-09-28 23:37] lommez opened #42 "How to Deserialize LogEvent"
How can i deserialize the LogEvent that was serialize to the rabbit queue?

In the queue, i have a message just like this:

`{"Timestamp":"2017-09-28T20:34:04.6883220-03:00","Level":"Information","MessageTemplate":"{HostingRequestStarting:l}","RenderedMessage":"Request starting HTTP/1.1 GET http://localhost:5100/teste application/json ","Properties":{"Protocol":"HTTP/1.1","Method":"GET","ContentTy

[2018-01-11 14:17] Sharparam opened #43 "Unable to specify multiple hostnames"
The sink configuration only allows for specifying a single hostname (at least as far as I could see). We have a setup with multiple RabbitMQ servers where we'd like to connect to the first available.

RawRabbit supports this (to take another library around RabbitMQ as an example), by taking a list of Hostnames to connect to. Instead of setting the `HostName` property on `ConnectionFactory`, it pas

[2018-01-18 08:35] idefa opened #44 "when QueueName is not exist"
_model.QueueDeclare(_config.QueueName,
                                            durable: (int)_config.DeliveryMode == 2,
                                            exclusive: false,
                                            autoDelete: false,
                                            arguments: null);

[2018-01-18 10:37] sonicjolt commented on #44
Im not sure what this is about. Please explain more precisely

[2018-01-18 10:43] sonicjolt commented on #43
This is certainly possible. Do you have time to write it yourself and make a PR ?

[2018-01-18 10:49] sonicjolt commented on #42
Hi lommez, I didn't see your issue. Is this still relevant ?

[2018-01-20 11:30] IharYakimush opened #46 "Add unit testing"
Please add an infrastructure for unit tests. Create at least one unit test with desired framework and configure infrastructure, so community will be able to add the rest

[2018-01-21 09:23] IharYakimush commented on #19
Please check pull request https://github.com/sonicjolt/serilog-sinks-rabbitmq/pull/45

[2018-01-21 18:46] IharYakimush opened #47 "support placeholders in routing key"
Currently routing key configuration support only constants assigned at the initialization time. In case of topic exchange it would be beneficial to build different routing keys at a runtime.

For instance routing key specified in configuration as `logs.{level}` might be resolved at runtime to `logs.warning`, `logs.debug`, etc. depending on actual log entry.

[2018-02-08 13:20] lommez commented on #42
No.. thanks

[2018-02-08 13:20] #42 closed

[2018-02-15 14:41] daghb commented on #44
@idefa: Remove QueueDeclare. A queue is not necessary for posting log elements, only Exchanges.

[2018-08-27 08:54] DineshPagadala opened #53 "[Question] - Unable to log properly & format issues"
Hi Steffen,
**1) I had an issue with logging using serilog to rabbitmq.**
while publishing messages from serilog, rabbitmq receives a lot of unwanted messages with the actual messages.
how to store only the log message in rabbitmq.
Currently it saves like below:
{"Timestamp":"2018-08-27T12:11:30.4682719+05:30","Level":"Error","MessageTemplate":"Startup Logging!!"}
{"Timestamp":"2018-08-27T12:11:32

[2019-01-22 10:55] AndreRochaDev opened #55 "Error at bootstrapping when rabbitMQ server is down"
Is there any way of handling the exception differently when there is an error connecting to the server at bootstrap level?

Thanks a lot

[2019-02-11 08:02] huan086 commented on #55
I'm working on fixing this

[2019-02-11 11:44] AndreRochaDev commented on #55
Thanks a lot, i worked around it with a default configuration if it fails, but it would be cool if it would just ignore the sink if it does not work,

Thanks again!

[2019-02-21 11:29] AndreRochaDev opened #57 "Define TLS12 and Policy in the sink"
Hello, is there any way to set up the sink with a TLS version  (eg: TLS12) and Policies,  instead of always using the default?

Thanks a lot
AR

[2019-03-27 17:18] sonicjolt commented on #53
@DineshPagadala Is this question still relevant, or can it be closed ?

[2019-03-27 17:21] #32 closed

[2019-03-27 17:22] #44 closed

[2019-03-27 17:28] sonicjolt commented on #46
Any thoughts on frameworks for unit testing, mocking etc. ?

[2019-03-27 21:38] #43 closed

[2019-03-27 21:43] sonicjolt commented on #57
closed
https://github.com/sonicjolt/serilog-sinks-rabbitmq/pull/58
https://github.com/sonicjolt/serilog-sinks-rabbitmq/pull/52

[2019-03-27 21:43] #57 closed

[2019-03-27 22:37] #53 closed

[2019-03-27 22:37] #47 closed

[2019-03-27 22:37] #46 closed

[2019-03-27 22:39] sonicjolt commented on #55
It sounds like an important issue to address. @huan086 I've requested that we have a talk about this on Gitter (see link on the front). I'll close this issue in a few days if I don't receive response. Not that I don't think it's important, but I am working towards cleaning up the repo.

[2019-03-27 22:42] #15 closed

[2019-03-27 22:47] #19 closed

[2019-03-28 11:13] sonicjolt opened #60 "Create a test environment with docker"
We need to create a test-environment using docker containers to be able to run tests and prove known issues with the sink.

[2019-03-28 11:17] sonicjolt commented on #55
I'll remove this from milestone 3.0.0 as it is an improvement that can wait. Thereby not saying it's not important, because I think it is, but it's not pressing to become part of 3.0.0

[2019-03-28 11:35] sonicjolt opened #61 "Update RabbitMQ.Client to the latest stable version"
We need to upgrade the included RabbitMQ.Client to the latest version. I'm unsure if there are any breaking changes in the client, so we need to have the dockerized setup created before we are able to ensure that upgrading RabbitMq.Client is successful

[2019-03-28 11:36] sonicjolt opened #62 "Upgrade Serilog version to the latest stable version"
Please consider if there are changes in the Serilog implementation that we need to consider

[2019-03-30 08:22] sonicjolt opened #66 "Bump version to 3.0.0"

[2019-03-30 08:33] sonicjolt commented on #66
Closed with PR#67

[2019-03-30 08:33] #66 closed

[2019-03-31 12:19] tsvetelintsonev opened #68 "New simpler configuration api"
The current configuration api is cumbersome with a lot of overload methods and large number of parameters. Using configuration via lambda expression will be more intuitive and easy to use

[code]

In order to support configuration via app settings binding the following api can be added
[code]

[2019-04-03 20:18] sonicjolt commented on #68
Closed with #69

[2019-04-03 20:18] #68 closed

[2019-04-03 20:19] sonicjolt commented on #60
@tsvetelintsonev has a docker-compose setup that we can probably use as a first version.

[2019-04-03 21:04] sonicjolt commented on #62
Closed with #70

[2019-04-03 21:04] #62 closed

[2019-04-03 21:04] sonicjolt commented on #61
Closed with #70

[2019-04-03 21:04] #61 closed

[2019-04-06 19:07] sonicjolt commented on #60
Closed with #72

[2019-04-06 19:07] #60 closed

[2019-04-24 14:48] Sebbstar opened #74 "Provide a Signed Nuget Package"
**Is your feature request related to a problem? Please describe.**
We can only use signed packages.
When using Serilog.Sinks.RabbitMq we've got following exception:

`FileLoadException: Could not load file or assembly 'Serilog.Sinks.RabbitMQ, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044

[2019-04-25 18:09] sonicjolt commented on #74
I agree that we should sign the nuget package. I will look into what needs to be done to get that done.

[2019-04-25 21:40] sonicjolt commented on #74
Based on discussion: https://jeremydmiller.com/2014/04/28/fubumvc-lessons-learned-strong-naming-woes-and-workarounds/ I don't think it is a good idea to add strong naming to this library.

If strong naming is needed I suggest that you build your own nuget-package, and sign it yourself. The nuget package is provided for ease of use of this library - and something that users of the software can easi

[2019-04-25 21:40] #74 closed

[2019-04-29 23:18] nblumhardt opened #75 "License inconsistency"
Greetings! 👋

The `LICENSE` here on the repository was [changed to GPL v3 a short while ago](https://github.com/sonicjolt/serilog-sinks-rabbitmq/pull/73/commits/69156cf59d61ff0f1ad298ffa2bee49a9420dee6). The [package on NuGet](https://www.nuget.org/packages/Serilog.Sinks.RabbitMQ/), ([because of this line in the CSPROJ](https://github.com/sonicjolt/serilog-sinks-rabbitmq/blob/master/src/Serilog.Si

[2019-04-29 23:53] sonicjolt commented on #75
Hi @nblumhardt thank you for making me aware of the inconsistency. We aim to follow Serilog, so I will adjust the current license back to Apache 2.0 asap.

[2019-04-29 23:56] nblumhardt commented on #75
Great, thanks for the clarification @sonicjolt 🙂 👍

[2019-04-30 00:05] sonicjolt commented on #75
Change applied, and will be released in 3.0.1

[2019-04-30 00:05] #75 closed

[2019-05-08 09:16] 596442958 opened #76 "hostnames can not be empty"
.

[2019-05-08 09:32] huan086 commented on #76
Loading from configuration works

[code]

If you are configuring manually, then use Hostnames.Add

[2019-05-08 09:33] tsvetelintsonev commented on #76
Hi, thank you for pointing this out. The configuration API in v3 has changed. I will update the readme.md later today . Until then maybe you can use the examples from this PR to set up the sink.

https://github.com/sonicjolt/serilog-sinks-rabbitmq/pull/69

[2019-05-08 09:43] #76 closed

[2019-05-12 20:13] sonicjolt commented on #55
@huan086 Welcome back :-) - hope you had a good vacation

[2019-05-17 14:25] huan086 opened #78 "Create stress test"
**Is your feature request related to a problem? Please describe.**
Current code is not following RabbitMQ client's recommended usage. There is a risk that in high concurrency scenario, the logs will get corrupted. However, it is unclear whether Serilog itself has any built-in synchronization mechanism that makes synchronizing usage of RabbitMQ client unneeded

**Describe the solution you'd like**

[2019-05-31 05:06] #55 closed

[2019-06-10 14:59] vpoorshab opened #79 "not picking any configuration from the appsetting"
I am using a .net core web application when updating the serilog.sink.rabitmq  to v3.0.0 the sink is not picking the configuration from the appsettings, I tried to adjust the setting with the new(breaking) change in version 3, I could not find any explicit guide how version 3 should be set up in appsettings.json so I tried the nested configuration according to [https://github.com/serilog/serilog-s

[2019-06-10 15:33] huan086 commented on #79
I think we broke that functionality @tsvetelintsonev. Not sure how to make it compatible, since I don't use serilog-settings-configuration

[2019-06-10 16:33] tsvetelintsonev commented on #79
@huan086 Yes, we definitely have broken this functionality. I will repro this later today. I hope that adding a parameterless constructor to RabbitMQSinkConfiguration will fix it.

[2019-07-15 18:02] #79 closed

[2019-07-25 13:18] marrkee opened #86 "RabbitMQ server outage forcers serilog to close"
Hi,

Yesterday after my rabbitmq server outage, my applications stopped logging completely.
Here is the stacktrace:

   at RabbitMQ.Client.Impl.InboundFrame.ReadFrom(NetworkBinaryReader reader)
   at RabbitMQ.Client.Impl.SocketFrameHandler.ReadFrame()
   at RabbitMQ.Client.Framing.Impl.Connection.MainLoopIteration()
   at RabbitMQ.Client.Framing.Impl.Connection.MainLoop()
   at RabbitMQ.Client.Imp

[2019-07-28 06:05] abolfazlmohammadiseif opened #87 "how to use this project in my own project?"
Hi, Im going to use this project in my for example console App.
I want to send logs to rabbitmq and receive in another App.
what are the steps?
Thanks

[2019-07-28 13:52] sonicjolt commented on #87
@abolfazlmohammadiseif You'll need to setup a RabbitMQ instance. Then in your "console App", you add this library, and configure it to write logs to the RabbitMQ instance. In your "another App", you can use the official .NET RabbitMQ.Client library here: https://www.rabbitmq.com/dotnet.html

Good luck.

[2019-07-28 13:52] #87 closed

[2019-07-29 05:25] abolfazlmohammadiseif commented on #87
Hi again,
thanks for answering my question.
In a .NetCoreWebApp, I've added the following code in Startup.cs , inside 'ConfigureServices' method.
[code]
then i've injected in the Home controller, the following:
[code]
then ive used like this:
`            _logger.LogInformation("My Message");
`
is there anything else I can do?
1- I mean where sould I add 'QueueName' and 'HostName' an 'connection'

[2019-07-29 10:35] abolfazlmohammadiseif opened #88 "Collect the Logs and publish them at once"
Hi,
I'm going to collect all the logs of each request (from the action method to maybe multiple services and classes) and at the end, send them all to RabbitMQ at once!

Is it possible? what is your suggestion?

Thanks alot

(I couldn't chose Question as label, there were just Bug and New Feature)

[2019-07-29 10:38] sonicjolt commented on #87
@abolfazlmohammadiseif

1. RabbitMQ has what is called an Exchange. I guess you are not intended to write directly to a queue, albeit you can. I suggest you read up on that subject, for instance here: https://www.cloudamqp.com/blog/2015-09-03-part4-rabbitmq-for-beginners-exchanges-routing-keys-bindings.html

Serilog.Sinks.RabbitMq does 'as such' support Queue, but again, you can still do it. Find

[2019-07-29 10:50] sonicjolt commented on #88
That's is more or less what Serilog.Sinks.RabbitMq does out of the box.
This library uses Serilog's EmitBatch, which bundles up a bunch of logs, and sends them asynchronously from time to time.

Read about Serilog Periodic Batching: https://github.com/serilog/serilog-sinks-periodicbatching

[2019-07-30 12:18] abolfazlmohammadiseif commented on #88
Do you know how to use it?
I didn't find anyone using that.

[2019-07-30 16:24] HubertoKusters opened #89 "Problem picking up config from appsettings.json"
**Describe the bug**
Unable to overwrite the TextFormatter via appsettings.json

**To Reproduce**
Add configuration in appsetting.json:

[code]

**Expected behavior**
Use specified formatter

**Operating System and Software**
 - OS: Windows 10
 - Nuget version: 3.0.3
 - Assembly version: 0.0.0.0 (**this is strange but not related to this problem**)

**Additional context**
All attributes specified

[2019-07-30 20:30] sonicjolt commented on #88
@abolfazlmohammadiseif No, what I mean is, Serilog.Sinks.RabbitMq already implements periodic batching.

[2019-07-31 04:32] abolfazlmohammadiseif commented on #88
I Found how to config it. Thanks

[2019-07-31 07:09] HubertoKusters commented on #89
@sonicjolt: I submitted a pullrequest with commit #90 to solve this.
My solution is to add extra extension methods, which are also backward-compatible with previous configurations (2.0.2)

[2019-07-31 07:20] tsvetelintsonev commented on #89
Hey, thank you for your PR. We have previously had issues with not picking serilog settings from appsettings.json
We have provided a fix for that in the latest version. Ref: [79](https://github.com/sonicjolt/serilog-sinks-rabbitmq/issues/79)

[2019-07-31 07:52] HubertoKusters commented on #89
The problem is not that the settings are not picked up. We cannot overrule the TextFormatter. For some reason you cannot provide a fully-qualified name string for an class instance if it is a property in a class. But you can do so as a parameter for the extension method.
I am already using the latest version (NuGet 3.0.3) with the mentioned fix.

[2019-08-06 00:11] sonicjolt commented on #88
Happy to hear that. Good luck! :-)

[2019-08-06 00:11] #88 closed

[2019-08-06 22:00] sonicjolt commented on #86
@marrkee Thanks for the bug report.

To better understand the situation, could you please describe your RabbitMQ setup. I assume it's a single instance of RabbitMQ ?

[2019-08-08 08:19] misky1986 opened #91 "Serilog.Sinks.RabbitMQ.RabbitMQClient not properly initialized"
**Describe the bug**
Serilog.Sinks.RabbitMQ.RabbitMQClient not properly initialized after I updated Serilog.Sinks.RabbitMQ from version 3.0.0 to version 3.0.3.

Even though I have initialized RabbitMQClientConfiguration as I have done earlier, there seems to be an error in the Serilog.Sinks.RabbitMQ.RabbitMQClient which makes the class not to be initialized properly.

As showed in the section "How

[2019-08-08 08:39] sonicjolt commented on #91
@misky1986 Thank you for the bug.

It seems to be missing a specification of what Exchange you are sending your messages to. You have only specified a routing key, which is what can be used to 'route' messages to a specific queue.

Could that be what is going wrong ?

[2019-08-08 10:37] misky1986 commented on #91
@sonicjolt Your welcome.

And by the way. Thanks a lot for your cool nuget package. It is awesome :)

Yes, maybe I should have written that in the bug description as well.
The default behavior in RabbitMQ is, that if you leave the exchange property empty (""), RabbitMQ is going to use the default exchange to bind to the queue.
For this to work, it is important that the routing key does match the q

[2019-08-27 07:30] TomNieuwenhuis commented on #89
Hi,
Although picking up appsettings should be working, I cannot get it to work. I've even copied all mentioned settings from above, without any result.
What I'm trying to do is to write to File and to RabbitMQ at the same time. My settings are as follows:

 "Serilog": {
        "Using": [ "Serilog.Sinks.File", "Serilog.Sinks.RabbitMQ" ],
        "MinimumLevel": "Debug",
        "WriteTo": [

[2019-08-27 07:52] HubertoKusters commented on #89
@TomNieuwenhuis

I recommend that you verify that Serilog is picking everything up as expected and that there is no problem with you configuration:

[code]

If you run your application Serilog will produce the serilog.log file. Check its contents and report back.

[2019-08-27 08:15] TomNieuwenhuis commented on #89
HI Huberto,
Thanks for your very quick reply!
I followed your instructions, and this is what I got:

2019-08-27T08:13:11.3617697Z Exception while emitting periodic batch from Serilog.Sinks.RabbitMQ.RabbitMQSink: RabbitMQ.Client.Exceptions.BrokerUnreachableException: None of the specified endpoints were reachable ---> System.IO.IOException: connection.start was never received, likely due to a netwo

[2019-08-27 08:15] TomNieuwenhuis commented on #89
(by the way, RabbitMQ is running fine, and accessible via the Management plugin on the specified port)

[2019-08-27 08:49] HubertoKusters commented on #89
@TomNieuwenhuis

I think that the port is wrong. 15672 is for Management Page. You should use 5672 instead.

[2019-08-27 09:35] TomNieuwenhuis commented on #89
doh!
I thought RabbitMQ itself was running on 15672, had no idea that only the management page made use of 15672.
Thank you so much!
Regards,
Tom

[2019-08-27 11:21] EvryJohan commented on #89
Is there any prognosis on when we will get a new release with #90 incorporated?

[2019-08-27 18:36] steffenlyng commented on #89
@EvryJohan Shouldn't be long now. Hopefully in the weekend.

[2019-09-07 14:19] HubertoKusters commented on #89
@steffenlyng Any projections on when this is released to NuGet?

[2019-10-09 06:13] irkush opened #95 "Add information on how to configure the sink via appsettings.json"
Hi!

I have been trying to get the RabbitMQ sink to work for a couple of hours with the configuration done via appsettings.json.

The sink worked perfectly except the fact that I could not change how the logmessage was formatted.

I found the closed issue #89 which pushed me in the right direction. However I needed to pull the code and manually debug why my custom formatter wasn't used as the nuge

[2019-10-19 10:38] steffenlyng commented on #95
What behavior are you used to experiencing ?

-

I agree the documentation on this way of configuring is not good enough. I'll look into that.

[2019-10-22 00:10] steffenlyng commented on #95
I don't have time to work on this - so if someone have time to improve the documentation, please create a PR.

[2019-11-08 08:10] irkush commented on #95
Hi!

Sorry for the late reply.
I didn't see the question.
Here is an example from how the File-sink is configured.

{
"Name": "File",
"Args": {
  "path": "C:\\application\\log-.log",
  **"formatter": "NameSpace.MyFormatter, NameSpace.Common",**
  "retainedFileCountLimit": "7",
  "rollingInterval": "Day"
}
},

If possible, it would be nice to change so that the variables are named in the same way a

[2019-11-18 18:26] danilobreda opened #96 "Limit queue for unecessary memory usage when things on infra go wrong."
When the rabbitmq server goes down, the list of logs in queue begins to grow. and stay in memory until the rabbitmq server comes back so it can send the data.
In some cases the server may take longer to return.
The application runs out of memory and suddenly dies from the large queue of logs.
This only happen on some scenarios...

The solution would be to create a limit for this queue.
In case you

[2019-12-09 10:42] cognitive-arch commented on #91
Hey Im facing the same problem. I made a new .net core web project and configured the skin as mentioned in this repo but its not logging anything on RabbitMQ.
Im using this version Serilog.Sinks.RabbitMQ:3.0.6.

Below is my configuration.
[code]
Interesting thing is that when i try to run the given test cases in your provided repository it works fine but not in case of nuget package.

[2019-12-11 12:46] NicolaAtorino opened #97 "Dynamic routekey"
Hello, I am trying to use the sink to write to different queues in RabbitMQ. One of the possibilities is to use a header o a topic exchange with a routing key.

By going trough the readme i noticed that the routing key has to be set statically at startup. I would love the possibility of extrapolating this routekey from the event being logged itself in order to define where this message should go.

[2019-12-12 11:50] cognitive-arch commented on #97
@NicolaAtorino  which version of the sink you're using. Because its latest version not logging any event into queue. Looking for help.

[2019-12-18 21:07] dmajcherlandstar opened #98 "Unable to connect to RabbitMQ over SSL"
I'm trying to connect to RabbitMQ using SSL. The 5671 port is open on RabbitMQ and accepting connections, but when I try to connect to it through the sink, I get a **"None of the specified endpoints were reachable"** error in .NET and **"handshake_timeout,handshake"** error in the RabbitMQ log. Is there somewhere I need to tell the sink to initiate the handshake for SSL?

Here is my code:
[code]
I

[2019-12-18 21:32] steffenlyng commented on #98
Hi @dmajcherlandstar

In [v3.0.0](https://github.com/steffenlyng/serilog-sinks-rabbitmq/releases/tag/v3.0.0) - so **you need to upgrade** to be able to have access to the  [`SslOption`](https://github.com/steffenlyng/serilog-sinks-rabbitmq/blob/master/src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQClientConfiguration.cs#L51). It's not sufficient to just change the port.

Your can find help on c

[2019-12-18 21:32] #98 closed

[2019-12-19 20:57] dmajcherlandstar commented on #98
steffenlyng, thanks for the response.

Ok, I upgraded to version 3.0.6 of Serilog.Sinks.RabbitMQ. I updated my code to the following, but I'm still not seeing messages in RabbitMQ. I turned off peer validation in RabbitMQ. Am I missing anything else?

Thanks

[code]

[2019-12-20 15:22] dmajcherlandstar commented on #98
I was able to get it working. I wasn't specifying the **SslOption.Version** property. Once I did that, it started working.

[code]

[2019-12-21 20:34] steffenlyng commented on #97
@cognitive-arch Please write an issue that describes your problem. Thanks.

@NicolaAtorino I'd love to extend the library to take into account the feature you are looking for. But please write the issue based on the new feature template, so we have sufficient information.

[2019-12-21 20:40] cognitive-arch commented on #97
@steffenlyng Thanks for your response. I have already described my problem in the open issue #91 . I need help I dont know whats wrong with the configuration.

[2019-12-21 20:58] steffenlyng commented on #96
@danilobreda That's a pretty terrible situation to get into, that your logging-framework is the cause of what eventually can kill your application. And of course it shouldn't be that way.

I'm wondering what the right approach would be here. Because I wouldn't want to lose logs, eventhough memory might be filling up. I could argue that your RabbitMq instance shouldn't be just one instance - it sho

[2019-12-21 21:03] steffenlyng commented on #91
@cognitive-arch @misky1986 @dorzeidman
Thanks all for your feedback - I'll see if I can figure out what is going on, and hopefully find a solution for it.

[2019-12-21 21:07] cognitive-arch commented on #91
Thanks @steffenlyng . Im trying to figure it out too. If i find the solution Ill share here too.

[2019-12-21 21:33] steffenlyng commented on #91
@cognitive-arch I just tested with: https://gist.github.com/steffenlyng/609f91968cfbe7bd867b19fe5a0596b4

Serilog.Sinks.RabbitMq=3.0.6

[2019-12-21 21:59] steffenlyng commented on #91
@misky1986 I have created a setup using RabbitMq 3.0.6 (nuget)

https://gist.github.com/steffenlyng/0a165bbfc4bfc0d6771d48a8d445cd72

I setup rabbitmq as follows:
0. Clean installation of rabbitmq (see above description in my answerr to @cognitive-arch )
1. I created a queue called `testqueue`
2. Add user called `rabbitmq-test-user`, with password: `rabbitmq-test-password`
3. I Added a permission

[2019-12-21 22:25] steffenlyng commented on #95
@irkush I'm not going to change the name of the property to align with other sinks, because that will be an unnecessary breaking change, that doesn't really address any real problem. I agree it's not perfect that the naming differs from other sinks - but in terms of configuration convention it's very clear how it works.

I'll work on improving the documentation as we have already talked about.

[2019-12-21 22:26] steffenlyng commented on #95
Enhancement to documentation should cover sink-configuration based on .config files.

[2019-12-21 22:37] steffenlyng opened #99 "Improved Documentation: Ssl configuration"
We need documentation on how to setup the sink using SSL/TLS

[2019-12-21 22:38] steffenlyng opened #100 "Improved Documentation: Configuring sink using .config"
We need documentation on how to configure the sink using .config file

[2019-12-22 18:42] cognitive-arch commented on #91
@steffenlyng Thanks again for the help.  Its working really fine as far as console application concern but not in asp.net core API project.

Here is the sample code with sink configuration and its not logging any error or information into queue .

https://gist.github.com/cognitive-arch/e582fac189fc2fd8d26d4baf121c3e26

I dont know whats wrong with the  configuration.

[2019-12-28 00:21] steffenlyng commented on #96
@danilobreda I didn't get any response from Serilog Gitter .. but I did some research on my own, and found: https://github.com/serilog/serilog/wiki/Reliability#asynchronousbatched-network-operations

Serilog.Sinks.RabbitMq derives from PeriodicBatchingSink, and so the scenario you have described, according to Serilog's official documentation should, by default, not happen. And to the best of my kn

[2019-12-28 00:21] #96 closed

[2019-12-28 01:36] #100 closed

[2019-12-28 02:10] steffenlyng commented on #91
Based on your example, could you please try:

[code]

This worked for me, based on your example.

[2019-12-28 02:47] steffenlyng commented on #91
@misky1986 I am closing this as it seems to be misconfiguration. Based on my trials of yours and @cognitive-arch scenarios I don't see any flaws. Only misinformation in documentation that I have now fixed.

I've tested your examples, and they work.

Please let me know if you continue to experience problems.

[2019-12-28 02:47] #91 closed

[2019-12-28 02:50] steffenlyng commented on #97
@NicolaAtorino I am closing this, and I await your feature request, if it is still relevant.

**Please use the relevant template.**

[2019-12-28 02:50] #97 closed

[2019-12-28 03:22] steffenlyng commented on #78
@huan086 With the knowledge that this Sink is being used in production in a high-volume setting, and not hearing any issues about the scenario that is described, it is my assesment that it is not something that needs to be adressed at this time. It's true that we could prove that the Sink performs in accords with the RabbitMq.Client specifications, but I doubt that has any value with respect to yo

[2019-12-28 03:22] #78 closed

[2019-12-28 03:25] #99 closed

[2019-12-28 03:26] #95 closed

[2019-12-28 13:03] cognitive-arch commented on #91
@steffenlyng Thanks its working fine now. Problem was as you mentioned misinformation in documentation and my bad too I forgot the point you mentioned `Log.Logger`.

[2020-01-18 04:18] paolobriones opened #102 "Support for RabbitMQ.Client v6.x"
**Unhandled exception. System.MissingMethodException: Method not found: 'Void RabbitMQ.Client.ConnectionFactory.set_Protocol(RabbitMQ.Client.IProtocol)'.**

This exception is thrown using the Serilog.Sinks.RabbitMQ 3.0.6 and RabbitMQ.Client 6.0.0

[2020-01-21 00:19] stephenyeong opened #103 "Channel usage growth"
**Describe the bug**
Compare with 3.0.3, 3.0.6 open too much RabbitMQ channel without close

**To Reproduce**
In my case,
When using Serilog.Sinks.RabbitMQ 3.0.3 only 1 channel on service startup.
When using Serilog.Sinks.RabbitMQ 3.0.6 with 14 channels on service startup,
and channel usage growth when rabbitmq connection not stable. Channel usage from 44 growth to 50 after RabbitMQ node failover.

[2020-01-21 00:25] steffenlyng commented on #103
@stephenyeong To debug and possibly reproduce this, I will need some code that shows how you are initializing and using serilog -sinks-rabbitmq

[2020-01-21 00:28] steffenlyng commented on #102
@paolobriones please provide some more information, like a stack trace and maybe an example that reproduces the error.

[2020-01-21 00:36] stephenyeong commented on #103
@steffenlyng
I store config in application.json and init serilog as below

application.json

[code]

Program.cs

[code]

[2020-01-31 18:00] maxdeviant opened #104 "Add support for dynamic routing keys"
**Is your feature request related to a problem? Please describe.**

At my job we currently have a RabbitMQ-based logging infrastructure that routes messages to different log files based on the RabbitMQ routing key. In our case we use a routing key in the following form: `CATEGORY.ACTION.LEVEL`.

This allow us to use routing key filters to route certain messages to certain log files. For example:

[2020-03-29 21:27] steffenlyng opened #109 "Removed support for .NET framework 4.5.1"

[2020-03-29 21:56] madslyng opened #110 "Improved SSL Support"

[2020-03-30 02:15] steffenlyng commented on #110
branch: https://github.com/steffenlyng/serilog-sinks-rabbitmq/tree/feature/110_improved-ssl-support

[2020-03-30 02:16] steffenlyng commented on #102
This is included in the upcoming 4.0.0 release.

[2020-03-30 02:18] steffenlyng commented on #104
https://github.com/steffenlyng/serilog-sinks-rabbitmq/tree/feature/103_add-support-for-dynamic-routing-keys

Needs tests before it will be included in the next release.

[2020-05-01 20:58] niwrA commented on #102
Let me know if / when I can try a pre-release - I need this one!

[2020-05-02 09:42] niwrA commented on #102
I went ahead and forked this and created a working version myself. Let me know if you want this as a PR. I skipped the Protocol functionality, updated the Framework to minimum 462 and netstandard 2.0 and added appnetcore2.0, as that one can be preferred for those just working with core - (sometimes many) fewer external packages needed.

[2020-05-18 11:56] irfansagir commented on #102
I have the same error. When do you intend to release the 4.0 version?

[2020-07-06 11:13] alan994 commented on #102
@steffenlyng  I'm also blocked by this one. Is it possible to find out release date?

[2020-09-22 08:37] tzographos commented on #103
Hello, is there any update on this?

[2020-10-01 16:38] cmvcamacho commented on #102
Hello @steffenlyng ,

Thanks for all your hard work.
Do you have any timeline to release this new version?

Carlos Camacho

[2020-10-03 07:08] steffenlyng commented on #102
Hi all -- I'll get a version out during the weekend.

[2020-10-03 07:28] steffenlyng opened #113 "Infrastructure: Switch from AppVeyor to Github Actions"

[2020-10-03 07:53] steffenlyng opened #114 "How to setup the development environment is missing"
**Describe the bug**
There is not help on how to setup the development environment.

[2020-10-04 06:20] #114 closed

[2020-10-04 13:57] steffenlyng opened #116 "Switch to using RabbitMQ.Client as the basis for version numbers."
So it's easy to understand what version of the client we are using in a version of SerilogSinksRabbitMQ we should switch to follow the version number from RabbitMQ.Client instead. They release more frequent than we do, so it's not going to be a problem to add fixes along the way.

[2020-10-04 14:48] steffenlyng commented on #102
@paolobriones @cmvcamacho @irfansagir @niwrA I have just pushed a pre-release for v6.0.0 of RabbitMQ.Client. Please let me know if you experience any issues with it.

I'm switching to a new versioning scheme, so the version of Serilog.Sinks.RabbitMQ will match RabbitMQ.Client in the future. Therefore this slightly older version of the 6+ library from RabbitMQ.Client.

If it looks okay, I will crea

[2020-10-04 14:50] #116 closed

[2020-10-04 14:50] #109 closed

[2020-10-04 20:33] niwrA commented on #102
Hi @steffenlyng,

Thanks, just replaced my custom version with the pre-release and it works as advertised.

I think that kind of versioning is a a good approach, so you can pick the right sink with the right version of rabbitmq, should you need something that requires older functionality targeting an older framework etc. Not that common, but it happens (it is something I came across when using the

[2020-10-24 15:16] steffenlyng commented on #102
Since there have been no problems reported, I will prepare the 6.0.0 release

[2020-11-17 18:10] chambersDon opened #119 "TextFormatter in 6.0.0-pre, ignores appsettings and uses RawFormatter."
It seems the problem with the text formatter from issue #89 has returned in the 6.0.0-pre release.  I have configured appsetings.json to use CompactJsonFormatter, but at runtime it uses the RawFormatter.   I can use CompactJsonFormatter if I do it in code.

[2021-01-11 09:30] g-zx commented on #102
Hi @steffenlyng,

Any updates on this?

[2021-01-23 23:17] steffenlyng commented on #102
[6.0.0 is now released on nuget](https://www.nuget.org/packages/Serilog.Sinks.RabbitMQ/6.0.0)

[2021-01-23 23:18] #102 closed

[2022-03-29 10:50] jtavernier commented on #103
same issue here. any update?

[2022-03-31 17:09] lyng-dev opened #121 "Add support for ClientProvidedName"
**Is your feature request related to a problem? Please describe.**
As described in #120

[2022-10-17 10:55] AlexSalex228 opened #122 "QueueLimit for internal queue"
Problem:
Without a limit on the internal queue and having a limited change the application stops working properly

Solution:
add a queueLimit to a sink configuration